<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>User Form</title>
    
        <!-- Web Jars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <script src="/webjars/jquery/4.4.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <style> 
	    body,
	    a:hover,
	    a{
	    	color : white;
	    }
    </style>
	
</head>

<body class = "bg-dark">
  	 <p th:text="${user.token}">Test</p>
</body>

</html>