<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>User Form</title>

    <!-- Web Jars -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
    <script src="/webjars/jquery/4.4.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</head>

<body>
    <div class="container" style="margin-top: 20px" >
        <div class="row justify-content-center">
            <div class="col-md-9">
             <form th:object="${user}" th:action="@{/user/signup}" method="post">
               <div class="form-group">
            		<h2 class = "text-center mb-5"> Sign Up </h2>
            		
         			<div class="row align-items-center mb-3">
                        <div class="col-md-1 offset-md-1 text-right px-2">
                            <label style = "display : inline">İsim:</label>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="text" th:field="*{name}" class="form-control"/>
                        </div>
                        
                         <div class="col-md-1 offset-md-1 text-right px-2">
                            <label style = "display : inline">Soyisim:</label>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="text" th:field="*{name}" class="form-control"/>
                        </div>
                    </div>
                    
                    <div class="row align-items-center mb-5">
                        <div class="col-md-1 offset-md-1 text-right px-2">
                            <label style = "display : inline">Şifre:</label>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="password"th:field="*{pass}" class="form-control"/>
                        </div>
                        
                        <div class="col-md-2 offset-md-0 text-right px-2">
                            <label style = "display : inline">Şifre Tekrar:</label>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="password"th:field="*{pass}" class="form-control"/>
                        </div>
                    </div>
                    
                     <div class="row align-items-center mb-3">
                        <div class="col-md-2 text-right px-2">
                            <label style = "display : inline">E-mail</label>
                        </div>
                        <div class="col-md-5 px-0">
                            <input type="text" th:field="*{user}" class="form-control"/>
                        </div>
                    </div>

                    <div class="row align-items-center mb-3">
                        <div class="col-md-2 text-right px-2">
                            <label style = "display : inline">Username</label>
                        </div>
                        <div class="col-md-3 px-0">
                            <input type="text" th:field="*{user}" class="form-control"/>
                        </div>
                    </div>
                    <div class = "row justify-content-center">
                    	<div class = "col-md-6 px-0">
                    		<button type="submit" class="btn btn-primary mt-3 form-control" style="width: 100%;">Submit</button>  
                    	</div>
                    </div>
             </div>
            </form>
            </div>
         </div>
    </div>
</body>

</html>